Django==5.0.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.5.1
djoser==2.3.3
django-allauth==65.13.0
django-cors-headers==4.3.1
psycopg2-binary==2.9.10
dj-database-url==2.3.0
gunicorn==23.0.0
whitenoise==6.11.0
python-decouple==3.8
Pillow==10.4.0
opencv-python-headless==4.10.0.84
requests==2.32.3
supabase==2.24.0
numpy==1.26.4
tensorflow-cpu==2.16.2
gdown==5.1.0
